
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KT5XZVF');</script>
<!-- End Google Tag Manager -->


    <link rel="icon" href="/images/favlogo.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Примеры эмуляций компьютерных сетей на базе ОС Linux">
    <meta name="author" content="Илья Зеленчук, Зинаида Романова">

    <title>Примеры компьютерных сетей</title>



    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="/assets/vendor/boxicons/css/boxicons.min.css"/>
    <link rel="stylesheet" media="screen" href="/assets/vendor/nouislider/dist/nouislider.min.css"/>


    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="/assets/css/theme.min.css">

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT5XZVF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<nav class="header navbar navbar-expand-lg position-absolute navbar-sticky">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="/images/logo.png" width="170" alt="Miminet">
        </a>



                <div class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/examples">Примеры сетей</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Мои сети</a>
                    </li>
                </div>



    </div>
</nav>







<section class="container py-5 my-lg-5">
    <div class="align-items-center justify-content-between py-4">
          <h1 class="me-3">Примеры компьютерных сетей</h1>
    </div>

    <!-- Item -->

        <article class="card border-0 shadow-sm overflow-hidden mb-4">
          <div class="row g-0">
            <div class="col-sm-4 position-relative bg-position-center bg-repeat-0 bg-size-cover" style="background-image: url(/images/preview/switch_and_hub.png ); min-height: 15rem;">
              <a href="/web_network?guid=c75d4d9e-13e3-40c7-aa59-dae923c3bb1c" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Открыть сеть"></a>
            </div>
            <div class="col-sm-8">
              <div class="card-body">
                <h3 class="h4">
                  <a href="/web_network?guid=c75d4d9e-13e3-40c7-aa59-dae923c3bb1c">Свитч и хаб (Основы компьютерных сетей)</a>
                </h3>
                <p>Сеть демонстрирует различие в работе хаба и свитча.</p>
              </div>
            </div>
          </div>
        </article>

        <article class="card border-0 shadow-sm overflow-hidden mb-4">
          <div class="row g-0">
            <div class="col-sm-4 position-relative bg-position-center bg-repeat-0 bg-size-cover" style="background-image: url(/images/preview/98b79933b324e604de6a4f96b0877057.png ); min-height: 15rem;">
              <a href="/web_network?guid=38f2e97a-30e0-4921-a68e-5de1fd9bddba" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Открыть сеть"></a>
            </div>
            <div class="col-sm-8">
              <div class="card-body">
                <h3 class="h4">
                  <a href="/web_network?guid=38f2e97a-30e0-4921-a68e-5de1fd9bddba">Маршрутизатор</a>
                </h3>
                <p>Маршрутизатор объединяет IP сети.</p>
              </div>
            </div>
          </div>
        </article>

        <article class="card border-0 shadow-sm overflow-hidden mb-4">
          <div class="row g-0">
            <div class="col-sm-4 position-relative bg-position-center bg-repeat-0 bg-size-cover" style="background-image: url(/images/preview/36a6962e1f5c0199224cc3bd9b01798b.png ); min-height: 15rem;">
              <a href="/web_network?guid=73eaf0fa-de31-4a81-9e20-c40485b97861" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Открыть сеть"></a>
            </div>
            <div class="col-sm-8">
              <div class="card-body">
                <h3 class="h4">
                  <a href="/web_network?guid=73eaf0fa-de31-4a81-9e20-c40485b97861">NAT 2 (основы компьютерных сетей)</a>
                </h3>
                <p>NAT (Network Address Translation  (преобразование сетевых адресов) - механизм, позволяющий на лету изменять IP адрес отправителя.</p>
              </div>
            </div>
          </div>
        </article>

        <article class="card border-0 shadow-sm overflow-hidden mb-4">
          <div class="row g-0">
            <div class="col-sm-4 position-relative bg-position-center bg-repeat-0 bg-size-cover" style="background-image: url(/images/preview/f83dbeed275d834a832e2f156776dfe2.png ); min-height: 15rem;">
              <a href="/web_network?guid=16759a14-a79b-4f73-92d9-5238290957fb" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Открыть сеть"></a>
            </div>
            <div class="col-sm-8">
              <div class="card-body">
                <h3 class="h4">
                  <a href="/web_network?guid=16759a14-a79b-4f73-92d9-5238290957fb">Кольцо из 3-х маршрутизаторов (Основы компьютерных сетей)</a>
                </h3>
                <p>Поле TTL в IP заголовке защищает сеть от постоянного циркулирования IP пакетов.</p>
              </div>
            </div>
          </div>
        </article>

        <article class="card border-0 shadow-sm overflow-hidden mb-4">
          <div class="row g-0">
            <div class="col-sm-4 position-relative bg-position-center bg-repeat-0 bg-size-cover" style="background-image: url(/images/preview/5541de2d4a794ede65de1d15a8334580.png ); min-height: 15rem;">
              <a href="/web_network?guid=c3fd5000-cb3c-4fe4-95de-ec4769a46607" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Открыть сеть"></a>
            </div>
            <div class="col-sm-8">
              <div class="card-body">
                <h3 class="h4">
                  <a href="/web_network?guid=c3fd5000-cb3c-4fe4-95de-ec4769a46607">Первый и последний адрес IP сети (Основы компьютерных сетей)</a>
                </h3>
                <p>Демонстрация сети, где у хостов назначен первый и последний адрес сети.</p>
              </div>
            </div>
          </div>
        </article>

        <article class="card border-0 shadow-sm overflow-hidden mb-4">
          <div class="row g-0">
            <div class="col-sm-4 position-relative bg-position-center bg-repeat-0 bg-size-cover" style="background-image: url(/images/preview/8e3b09630fb4aa56052f1376d7449106.png ); min-height: 15rem;">
              <a href="/web_network?guid=c0e7134e-515b-4b25-9599-ae6dfc835903" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Открыть сеть"></a>
            </div>
            <div class="col-sm-8">
              <div class="card-body">
                <h3 class="h4">
                  <a href="/web_network?guid=c0e7134e-515b-4b25-9599-ae6dfc835903">TCP  - установка соединения 1 (Основы компьютерных сетей)</a>
                </h3>
                <p>Успешная установка TCP соединения (3-х разовое рукопожатие).</p>
              </div>
            </div>
          </div>
        </article>

        <article class="card border-0 shadow-sm overflow-hidden mb-4">
          <div class="row g-0">
            <div class="col-sm-4 position-relative bg-position-center bg-repeat-0 bg-size-cover" style="background-image: url(/images/preview/243fe10ec69cd985ae2b660e615f4544.png ); min-height: 15rem;">
              <a href="/web_network?guid=ddbdd95e-720f-43d6-9f4d-ca7ee2fe34d3" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Открыть сеть"></a>
            </div>
            <div class="col-sm-8">
              <div class="card-body">
                <h3 class="h4">
                  <a href="/web_network?guid=ddbdd95e-720f-43d6-9f4d-ca7ee2fe34d3">ICMP - сеть недоступна (Основы компьютерных сетей)</a>
                </h3>
                <p>ICMP сообщение &#34;Сеть недоступна&#34; генерируется, когда хоста или маршрутизатор не знает маршрута до IP сети, в которой находится IP адрес назначения.</p>
              </div>
            </div>
          </div>
        </article>

        <article class="card border-0 shadow-sm overflow-hidden mb-4">
          <div class="row g-0">
            <div class="col-sm-4 position-relative bg-position-center bg-repeat-0 bg-size-cover" style="background-image: url(/images/preview/ecaec5f75698b4f108eae4b6e838e92b.png ); min-height: 15rem;">
              <a href="/web_network?guid=621b8ab3-7822-4d1a-b9fc-736a41cffb14" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Открыть сеть"></a>
            </div>
            <div class="col-sm-8">
              <div class="card-body">
                <h3 class="h4">
                  <a href="/web_network?guid=621b8ab3-7822-4d1a-b9fc-736a41cffb14">ICMP - хост недоступен (Основы компьютерных сетей)</a>
                </h3>
                <p>ICMP сообщение &#34;Хост недоступен&#34;  генерируется в случае, когда маршрутизатор или хост не может доставить пакет до хоста с IP адресом назначения.</p>
              </div>
            </div>
          </div>
        </article>

        <article class="card border-0 shadow-sm overflow-hidden mb-4">
          <div class="row g-0">
            <div class="col-sm-4 position-relative bg-position-center bg-repeat-0 bg-size-cover" style="background-image: url(/images/preview/63018c5daff704dbd454478434f36a03.png ); min-height: 15rem;">
              <a href="/web_network?guid=8d3ff80d-6c76-4cc6-ad8c-64f87267994c" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Открыть сеть"></a>
            </div>
            <div class="col-sm-8">
              <div class="card-body">
                <h3 class="h4">
                  <a href="/web_network?guid=8d3ff80d-6c76-4cc6-ad8c-64f87267994c">Групповой трафик- UDP (Основы компьютерных сетей )</a>
                </h3>
                <p>Сеть демонстрирует работу группового трафика (Multicast).</p>
              </div>
            </div>
          </div>
        </article>

        <article class="card border-0 shadow-sm overflow-hidden mb-4">
          <div class="row g-0">
            <div class="col-sm-4 position-relative bg-position-center bg-repeat-0 bg-size-cover" style="background-image: url(/images/preview/ccd661f6371a2c1b61b2ac4e33d4ca18.png ); min-height: 15rem;">
              <a href="/web_network?guid=2ac740ed-b418-4f15-bca1-e6ef73f2a690" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Открыть сеть"></a>
            </div>
            <div class="col-sm-8">
              <div class="card-body">
                <h3 class="h4">
                  <a href="/web_network?guid=2ac740ed-b418-4f15-bca1-e6ef73f2a690">STP (Основы компьютерных сетей)</a>
                </h3>
                <p>STP (Spanning Tree Protocol) — канальный протокол. Основной задачей STP является устранение петель в топологии произвольной сети Ethernet.</p>
              </div>
            </div>
          </div>
        </article>


</section>



<!-- Footer -->
<!-- footer class="footer dark-mode bg-dark border-top border-light pt-5 pb-4 pb-lg-5">
    <div class="container pt-lg-4">
        <div class="row pb-5">
          <div class="col-lg-4 col-md-6">
            <div class="navbar-brand text-dark p-0 me-0 mb-3 mb-lg-4">
              <img src="/images/logo.png" width="170" alt="Miminet">
              Miminet
            </div>
            <p class="fs-sm text-light opacity-70 pb-lg-3 mb-4">Веб-эмулятор компьютерной сети для образовательных целей.</p>
          </div>
          <div class="col-xl-6 col-lg-7 col-md-5 offset-xl-2 offset-md-1 pt-4 pt-md-1 pt-lg-0">
            <div id="footer-links" class="row">
              <div class="col-lg-4">
                <h6 class="mb-2">
                  <a href="#useful-links" class="d-block text-dark dropdown-toggle d-lg-none py-2" data-bs-toggle="collapse">Useful Links</a>
                </h6>
                <div id="useful-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
                  <ul class="nav flex-column pb-lg-1 mb-lg-3">
                    <li class="nav-item"><a href="/" class="nav-link d-inline-block px-0 pt-1 pb-2">Miminet</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-5 pt-2 pt-lg-0">
                <h6 class="mb-2">Наше компьюнити</h6>
                <a href="https://t.me/MimiNetCommunity" class="fw-medium">t.me/MimiNetCommunity</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer -->
</body>

<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/cytoscape.min.js"></script>
<script src="/js/ace.js"></script>
<script src="/js/lodash.js"></script>
<script src="/js/cytoscape-edgehandles.min.js"></script>

<!-- Vendor Scripts -->
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/assets/vendor/parallax-js/dist/parallax.min.js"></script>
<script src="/assets/vendor/rellax/rellax.min.js"></script>
<script src="/assets/vendor/nouislider/dist/nouislider.min.js"></script>
<!--script type="module" src="/assets/js/range-slider.mjs"></script-->


<!-- Main Theme Script -->
<script src="/assets/js/theme.min.js"></script>
<script src="/icons.js"></script>
<script src="/netfront_f.js"></script>
<script src="/miminet_animation.js"></script>

<script>
    $(document).ready(function() {
        $("#networkConfigrationCancel").click(function(){
            $('#netConfigModal').modal('hide');
        });

        $("#networkConfigrationCancelIcon").click(function(){
            $('#netConfigModal').modal('hide');
        });

        $("#networkConfigrationSubmit").click(function(){
            network_title = $("#network_title").val();
            network_description = $("#network_description").val();
            UpdateNetworkConfig();
            $('#netConfigModal').modal('hide');
            $('#network_title_head').text(network_title);
        });

        $('#networkConfigrationForm').keypress(function (e) {
            var key = (e.keyCode || e.which);
            if(key == 13 || key == 3){
                network_title = $("#network_title").val();
                network_description = $("#network_description").val();
                UpdateNetworkConfig();
                $('#netConfigModal').modal('hide');
                $('#network_title_head').text(network_title);
                return false;
            }
        });

        $("#networkDeleteButton").click(function(){
            $('#netConfigModal').modal('hide');
            $('#deleteNetConfirmModal').modal('toggle');
        });

        $("#networkDeleteCancelIcon").click(function(){
            $('#deleteNetConfirmModal').modal('hide');
        });

        $("#networkDeleteCancel").click(function(){
            $('#deleteNetConfirmModal').modal('hide');
        });

        $("#networkDeleteSubmitButton").click(function(){
            $("#networkDeleteForm").submit(); // Submit the form
        });

        $("#noJobsModalCancelIcon").click(function(){
            $('#noJobsModal').modal('hide');
        });

        $("#noJobsModalSubmit").click(function(){
            $('#noJobsModal').modal('hide');
        });

        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })

    });
</script>

<script type="text/javascript">
    function urlCopyButton(){
        var record_url = document.URL;
        navigator.clipboard.writeText(record_url);
        console.log('Copy url is made!');

        var alertElement = document.createElement("div");
        alertElement.classList.add("alert", "alert-success", "fixed-top");
        alertElement.style.textAlign = "center";
        alertElement.style.width = "50%";
        alertElement.style.marginLeft = "auto";
        alertElement.style.marginRight = "auto";
        alertElement.innerHTML = "Ссылка на сеть скопирована";
        var alertContainer = document.getElementById("alertContainer");
        alertContainer.appendChild(alertElement);
        setTimeout(function() {
            alertContainer.removeChild(alertElement);
        }, 1000);
}

    $(function() {
        $('[data-toggle="tooltip"]').tooltip({trigger : 'hover'});
    });
</script>




<script src="/netfront.js"></script>
<script src="/config.js"></script>
</html>